.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  width: 4%;
  height: auto;
  margin: 0 auto;
}

.appBar {
  height: 5%;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.scoreBoard {
  margin: 5% 0 5% 0;
  width: 100%;
}

.question {
  width: 100%;
}

.panel {
  width: 80%;
  height:200px;
  margin: 10% auto;
}